.input-description,
.input-category,
.input-file,
.input-size,
.input-number,
.input-price {
  text-align: center;
  width: 80%;
  border: 1px solid rgb(211, 211, 211);
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  padding: 10px;
}
