.qtd-order {
  display: flex;
  align-items: center;
}
.decrement-cart,
.increment-cart {
  border-radius: 20px;
  padding: 3px;
  border: 1px solid rgb(239, 235, 235);
  cursor: pointer;
}
.btn-cart {
  background-color: var(--color-blue);
  border: none;
  border-radius: 20px;
  padding: 1px 10px;
  color: white;
  cursor: pointer;
  height: 35px;
}
