.card-status {
  display: flex;
  flex-direction: row;
}
.order-status {
  width: 86px;
  height: 25px;
  background-color: #e5ebf8;
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  color: var(--color-blue);
}
.relative {
  width: 14px;
  height: 14px;
  background-color: var(--color-green);
  position: relative;
  top: -15px;
  right: 15%;
  border-radius: 20px;
}
