.container-inputs-schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.select-option {
  text-align: center;
  width: 80%;
  border: 1px solid rgb(211, 211, 211);
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  padding: 10px;
}
